/* .maincard{
  height:500px;
  width:1700px;
  background-color: aqua;
  display: flex;
}
.card{
/* height:400px;
width: 400px; */
/* background-color:blue;
margin: 19px;
} */
/* .cardimage{
   display: flex;
  justify-content: center;
   align-items: center; 
}
.cardimage img{
  height:300px;
  width:100%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */


/* .Details{
  font-weight: 900;
  margin-left: 100px;;
}
.price{
  margin-left: 100px;
  padding: 0px 10px;
}
.brand{
  margin-left: 30px;
  color: red;
}
.price{
  margin-left: 150px;
}
.Quantity{
  margin-left: 130px;
}
.Avail{
  color:pink;
}
.button{
  margin-left: 150px;
} */
*{
  box-sizing: border-box;
}
.parent{
   display: flex;
   box-sizing:border-box;
   flex-wrap: wrap;
}
.Image-Container{
  height:300px;
  width:300px; 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.Image-Container img{
height:300px;
width: 200px;
padding:10px 10px;

/* border: 1px black; */
}
.Card{
border:1px solid black;
margin: 10px;
/* padding:10px; */
}
.Card-Container{
  padding:50px 20px; 
  }
  .details{
   display: flex;
    justify-content: center;
    color: black;
    font-weight: 800;
  }

  .Price{
    margin: 10px 0px;
    color:red;
    margin-left:30px ;
    font-size: larger;
  }
  .type{
 color:blue;
 margin-left: 30px;
  }
  .Cart{
    color:brown;
    font-weight: 900;
   margin-left: 100px;
      }